/* Buttons */
.header {
  display: grid;
  gap: inherit;
  grid-area: header;
  align-items: baseline;
  justify-content: end;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.header-buttons {
  display: flex;
  gap: inherit;
  justify-content: flex-end;
  align-items: baseline;
  flex-wrap: wrap;
  flex-direction: row;
}

.lint-button {
  grid-row: 2;
  grid-column: 1 / span 3;
}

.theme-selection {
  grid-row: 1;
  grid-column: 1 / span 3;
  font-size: var(--font-size-xs);;
}

.filter-buttons {
  grid-row: 1 / span 2;
  grid-column: 4 / span 5;
  display: grid;
  gap: inherit;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  justify-items: end;
  align-items: baseline;
}

.filter-label {
  grid-row: 1;
  grid-column: 1 / span 5;
  font-size: var(--font-size-xs);
  color: var(--color-text-secondary);
  margin-right: 0.5rem;
}

.filter-button-group {
  grid-row: 2;
  grid-column: 1 / span 5;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: inherit;
  justify-content: flex-end;
  align-items: baseline;
}

.filter-button {
  &.pass {
    color: var(--color-text-success);
    border-color: var(--color-border-success);
  }

  &.fail {
    color: var(--color-text-danger);
    border-color: var(--color-border-danger);
  }
}

button {
  border-radius: var(--border-radius);
  background: var(--color-bg);
  color: var(--color-text);
  cursor: pointer;
  border: 1px solid var(--color-border);
  padding: 0.5rem 1rem;

  &:hover {
    background-color: var(--color-bg-hover);
  }

  &:active {
    background-color: var(--color-bg-active);
  }

  &:focus-visible {
    border: none;
    outline-color: var(--color-border-focus);
  }

  &.lint-button {
    --color-bg: var(--color-bg-brand);
    --color-text: var(--color-text-brand);
    --color-bg-hover: var(--color-bg-brand-hover);
    --color-bg-active: var(--color-bg-brand-active);
    --color-border: transparent;
    --color-border-focus: var(--color-border-brand-focus);
  }
}


