/* Buttons */
.header {
  display: grid;
  gap: inherit;
  grid-area: header;
  grid-template-areas: "logo theme buttons";
  align-items: center;
  justify-content: end;
  grid-template-columns: 1fr auto auto;

  .logo {
    width: 4rem;
    grid-area: logo;
  }

  .buttons {
    grid-area: buttons;
    display: flex;
    gap: inherit;
    justify-content: flex-end;
    align-items: baseline;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

button {
  border-radius: var(--border-radius);
  background: var(--color-bg);
  color: var(--color-text);
  cursor: pointer;
  border: 1px solid var(--color-border);
  padding: 0.5rem 1rem;

  &:hover {
    background-color: var(--color-bg-hover);
  }

  &:active {
    background-color: var(--color-bg-active);
  }

  &:focus-visible {
    border: none;
    outline-color: var(--color-border-focus);
  }

  &.primary {
    --color-bg: var(--color-bg-brand);
    --color-text: var(--color-text-brand);
    --color-bg-hover: var(--color-bg-brand-hover);
    --color-bg-active: var(--color-bg-brand-active);
    --color-border: transparent;
    --color-border-focus: var(--color-border-brand-focus);
  }
}

.theme-selection {
  grid-area: theme;
}
